body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(194, 245, 217);
}

img {
    width: 500px;
    height: auto;
}

h1 {
    text-align: center;
}

span {
    background-color: rgb(148, 226, 245);
    font-size: 20px;
}